In [14]:
import pandas as pd

In [15]:
df=pd.read_csv('udemy_online_education_courses_dataset.csv')

In [16]:
df.head(2)

,course_id,course_title,url,is_paid,price,num_subscribers,num_reviews,num_lectures,level,content_duration,published_timestamp,subject
0,1070968,Ultimate Investment Banking Course,https://www.udemy.com/ultimate-investment-bank...,True,200,2147,23,51,All Levels,1.5,2017-01-18T20:58:58Z,Business Finance
1,1113822,Complete GST Course & Certification - Grow You...,https://www.udemy.com/goods-and-services-tax/,True,75,2792,923,274,All Levels,39.0,2017-03-09T16:34:20Z,Business Finance

In [17]:
df.shape

(3678, 12)

In [18]:
df.isnull().sum()

course_id              0
course_title           0
url                    0
is_paid                0
price                  0
num_subscribers        0
num_reviews            0
num_lectures           0
level                  0
content_duration       0
published_timestamp    0
subject                0
dtype: int64

In [19]:
df.drop_duplicates(inplace=True)

In [20]:
df.shape

(3672, 12)

In [21]:
df.columns

Index(['course_id', 'course_title', 'url', 'is_paid', 'price',
       'num_subscribers', 'num_reviews', 'num_lectures', 'level',
       'content_duration', 'published_timestamp', 'subject'],
      dtype='object')

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3672 entries, 0 to 3677
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   course_id            3672 non-null   int64
 1   course_title         3672 non-null   object
 2   url                  3672 non-null   object
 3   is_paid              3672 non-null   bool
 4   price                3672 non-null   int64
 5   num_subscribers      3672 non-null   int64
 6   num_reviews          3672 non-null   int64
 7   num_lectures         3672 non-null   int64
 8   level                3672 non-null   object
 9   content_duration     3672 non-null   float64
 10  published_timestamp  3672 non-null   object
 11  subject              3672 non-null   object
dtypes: bool(1), float64(1), int64(5), object(5)
memory usage: 347.8+ KB

In [23]:
df['is_paid'].unique()

array([ True, False])